{% extends 'main/base.html' %}
{% block title %}
Страница про нас
{% endblock %}


{% block something %}
    <h1 class="display-5 fw-bold">Кто мы такие</h1>
    <p class="lead mb-4">Мы супер интернациональная команда поваров,
    которая хотела бы поделиться с вами рецептами блюд наших стран.
    Для этого мы создали сайт, с помощью которого вы сможете выбрать
    блюда от Европейской до Азиатской кухни и, благодаря простым рецептам,
    приготовить в домашней обстановке!)</p>

 <img class="d-block mx-auto mb-4" src="https://miro.medium.com/max/2800/1*TyKo7lrHjzGtREe_uSEr0Q.jpeg" alt="" width="510" height="400">

{% endblock %}

