{% extends 'main/base.html' %}
{% block title %}
Блюда
{% endblock %}

{% block something %}

 {% if dishes %}
     {% for element in dishes %}
<div class = "alert alert-warning mt-2">
     <h3>{{ element.nameofdishes }}</h3>

    <h4>Категория: {{ element.category_id}}</h4>
    <h4>Описание:</h4>
    <p>{{ element.description }}</p>
    <h4>Как готовить:</h4>
    <p>{{ element.howTOcook }}</p>
    <td>
        <a class="btn btn-sm btn-info" href="{% url 'update' element.id %}" >
            <i class ="far fa-edit fa-lg"></i> Обновить данные</a>
        <form action="{% url 'delete' element.id %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn">
                <a class="btn btn-sm btn-danger" ><i class="fa-solid fa-trash-can"></i> Удалить</a>
            </button>
        </form>
    </td>
</div>
     {% endfor %}
{% else %}
      <p>У нас нет записей</p>
{% endif %}

{% endblock %}